@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cairo|Lobster');
* {box-sizing: border-box;
    
    font-family: 'Cairo', sans-serif;

}

.grid-container {
  display: grid;
  height: auto;
  width: 100%;
  grid-gap: 6px;
  grid-template-areas: 
    "a a a a a"
    "c c c d d"
    "c c c d d"
    "e e e e e";
  /*align-content: space-between; */
  /*justify-content: space-around; */
}
h2 ,h3{
    font-family: 'Lobster', cursive;
}
label{
    font-family: 'Cinzel', serif;
}

.header {
 padding: 4px;
 position: initial;
 display: block;

  
}
.nav {
    padding: 4px;
    position: relative;
    display: block;

 
}
.navbar{
    grid-area: a;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: coral;
}
.nav ul li {
    float: left;
    margin: 5px;
    list-style: none;
}
    


.section {
  grid-area: c;
  border: dashed 2px salmon;
  border-radius: 5px;
  background-color: rgba(250, 235, 215, 0.253);
  display: grid;
  grid-template-areas:
  "a a a"
  "b b c";
}
.aside {
  grid-area: d;
  background-color: aqua;
  width: 100px;
}
.footer{
    grid-area: e;
    background-color: chartreuse;
    text-align: center;
} 

.addpro{
    grid-area: a;
    text-align: center;
} 
.details{
    grid-area: b;
    height: auto;
    padding: 10px;
}
.specs{
    grid-area: c;
    height: auto;
    padding: 10px;
    
}
.row{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 6px;
}
.col{
    display: grid;
    grid-gap: 6px;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgba(0, 139, 139, 0.651);
    background-color: rgba(224, 224, 224, 0.432);
    outline: none;
}
input:hover{
    background-color: rgba(139, 253, 215, 0.274);
}
form :focus {
    box-shadow: 3px 3px rgb(0, 107, 107);
    background-color: rgba(139, 253, 215, 0.274);
}
.inpdesc {
    height: 150px;
    
}.center{
    align-self: flex-start;
    width: 100%;
    text-align: center;
}
@media (min-width:650px) and (max-width:999px) {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
          "a"
          "c"
          "d"
          "e";
      }
      .aside{
          width: 100%;
      }
      
}
@media (min-width:100px) and (max-width:649px) {
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
          "a"
          "c"
          "d"
          "e";
      }
      .aside{
          width: 100%;
      }
      .section{
          display: block;
      }
      .row{
          display: block;
      }
      
}

  